<nav class="navbar navbar-expand-md bg-transparent">


    <div class="container-fluid">
        <ul class="nav justify-content-end nav-pills nav-list">

            <li class="nav-item">
                <a routerLink="../search" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" aria-current="page">Search</a>
            </li>

            <li class="nav-item">
                <a routerLink="../favourites" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Favourites</a>
            </li>

        </ul>

    </div>
</nav>
